body {
	font-family: Helvetica, Arial, sans-serif;
}
.logo-small {
	background: url(../images/PowerPlannerLogo-small.png) no-repeat bottom center scroll;
	width:80px;
	height:80px;
	margin: 0 auto;
}
.logo-min {
	background: url(../images/PowerPlannerLogo-min.png) no-repeat bottom center scroll;
	width:25px;
	height:25px;
	margin: 0 auto;
}
.ui-header .ui-title {
	padding: 0.5em 0 !important;
}
.resourceBox h4 {
	margin: 0px 0px 4px 0px;
	height: 1%;
}

.gMap {
	width: 100% !important;
}

#pac-input, #pac-input-intro {
	background-color: #fff;
	padding: 0 11px 0 13px;
	height: 30px;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}
#pac-input {
	margin-top: 16px;
}
#pac-input:focus, #pac-input-intro:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px; /* Regular padding-left + 1. */
	width: 401px;
}

.controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.settingsWidgets {
	width: 25% !important;
}

.resourceContainer {
	width: 70px;
	position: absolute;
	margin: 220px 0 0 10px;
	/*margin: 0px 0px 0px 10px;
	height: 95px;
	margin-top: 7%;
	right: 0%;*/
}

.resourceContainer div {
	margin: 0.2em 0.2em;
	border: 2px solid #999;
	border-radius: 7px;
	box-shadow: 0 0 2px #555;
}

.resourceContainer div:HOVER {
	border-color: #5599DA;
	box-shadow: 0 0 5px #1554DA;
	cursor: pointer;
}

.show-description {
  height: 35% !important;
}

.selected-resource {
	/*border: rgb(249, 72, 112) solid;*/
	border-color: #F84684;
}

.resources-panel {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 0px;
  width:100%;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

.wind {
	background: url(../images/wind-icon.png) no-repeat bottom center scroll !important;
	width: 55px !important;
	height: 55px !important;
	float: left;
}
.solar {
	background: url(../images/solar-icon.png) no-repeat bottom center scroll !important;
	width: 55px !important;
	height: 55px !important;
	float: left;	
}
.hydro {
	background: url(../images/hydro-icon.png) no-repeat bottom center scroll !important;
	width: 55px !important;
	height: 55px !important;	
	float: left;
}
.question {
	background: url(../images/question-icon.png) no-repeat bottom center scroll !important;
	width: 55px !important;
	height: 55px !important;
	float: left;
}

#question-panel {
	margin: 0.6em 0.2em;
	border: 2px solid #444;
	border-radius: 50%;
	box-shadow: 0 0 5px #555;
}

#question-panel:HOVER {
	border-color: #3A27DA;
	box-shadow: 0 0 5px #3A27DA;
}

.ui-content {
	padding: 0px !important;
}

.mapSettings {
	opacity: 1;
	display: block;
	margin: 0px 0px 0px 16px;
	padding: 0;
	width: 90px;
	float: left;
}

.displayRadioButtons {
	display: block !important;
}
.resourceRadioButton, .radioButtonLabel {
	font-size: 8pt;
	width: 95% !important;
	display: none;
 	margin-left: auto;
	margin-right: auto;
}

.resourceBox, .resourceImg {
	margin-top: 8px;
}

div.ui-input-text{
	width: 30% !important;
	display: inline-block !important;
	font-family: 'Raleway', sans-serif !important;
}

.placesTextSearch {
	display: inline-block !important;
	width: 100% !important;	
}
.start-button {
	width: 65px;
	color: #333 !important;
	font-size: 21px !important;
	background-color: #FAF84E !important;
	border-color: #FADE4E !important;
	border-radius: 12px;
	font-family: 'Raleway', sans-serif !important;
	font-weight: lighter !important;
}
.intro {
	display: table;
	width: 100%;
	height: 101%;
	text-align: center;
	color: #fff;
	background: url(../images/intro.jpg) no-repeat bottom center scroll;
	background-color: #000;
	background-size: cover;
	background-position: center;
}
.ui-header-intro {
	height: 93vh;
}

h1.intro-title, h2.intro-header {
	font-family: 'Raleway', sans-serif;
	color: #00933B;
	font-weight: bold;
	text-shadow: initial;
	font-variant: small-caps;
	margin: 100px 0px 37px 0px;
	font-size: 60px;
}

h2.intro-header {
	margin: 0px;
	font-size: 65px;
	text-align: center;
}

.intro-footer {
	font-size: 10px;
	text-align: center;
}

p.intro-text, h3.intro-header {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 200;
	text-shadow: initial;
	color: rgb(253, 231, 2);
	margin-left: auto;
	margin-right: auto;
}

p.calc-text, h3.calc-header {
	color: #333;
}

p.about-text, h3.about-header {
	color: #fff;
}

h3.intro-header {
	font-size: 60px;
	font-weight: bold;
}

h4.intro-subheading {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

.about-background {
	text-align: center;
	color: #fff;
	background-color: #428bca;
	margin-bottom: -4px;
}

.circular {
	width: 120px;
	height: 120px;
	display: inline-block;
	border-radius: 150px;
	background: url(../images/profilepic.jpg) no-repeat bottom scroll;
	margin: 0px 80px 17px 80px;
}

.daniel {
	background: url(../images/profilepic.jpg) no-repeat bottom scroll;
}

.chuan {
	background: url(../images/profilepic.jpg) no-repeat bottom scroll;
}

.charlie {
	background: url(../images/profilepic.jpg) no-repeat bottom scroll;
}

.prashant {
	background: url(../images/profilepic.jpg) no-repeat bottom scroll;
}

.jonathan {
	background: url(../images/profilepic.jpg) no-repeat bottom scroll;
}

#img-container {
	display: table;
}
#img-container div img {
	display: inline-block;
	margin: 0 0.5em;
}
#img-container div {
	display: table-cell;
	text-align: center;
}

/* Fix for info window showing scroll bar in Firefox */
.scrollFix {
	line-height: 1.35;
	overflow: hidden;
	white-space: nowrap;
}

/*FOR RESPONSIVE LAYOUT*/
/* 0 - 252px */
@media all and (max-width: 480px) {
	h1.intro-title {
		font-size: 70px;
	}
	.show-description {
		height: 43% !important;
	}
	.ui-header .ui-title {
		padding: 0.5em 0 !important;
		font-size: 0.8em !important;
	}
}

/* 481px - 768px */
@media only screen and (min-width: 768px) {
	h1.intro-title {
		font-size: 80px;
	}
	.show-description {
		height: 30% !important;
	}
}

/* 769px - 1024px */
@media only screen and (min-width: 1024px) {
	h1.intro-title {
		font-size: 100px;
	}
}

/* 1025px - 1280px */
@media only screen and (min-width: 1280px) {
}

/* 1281px - 1440 */
@media only screen and (min-width: 1440px) {
}

/* 1441px - 1600px */
@media only screen and (min-width: 1600px) {
}

/* 1601px - 1920px */
@media only screen and (min-width: 1920px) {
}