body {
	font-family: Helvetica, Arial, sans-serif;
}

#googleMap {
	float: right;
}

.expandSettingButton {
	width: 34px !important;
	background-color: #ddd !important;
}

.expandOptions {
	width: 1%;
	opacity: 1;
	background-size: cover;
	position: relative;
	margin: 0px 16px 10px 0px;
	border-radius: 12px;
}

.gMap {
	width: 70% !important;
}

.settingsWidgets {
	width: 25% !important;
}

.propertyButton {
	width: 138px;
	float: right;
	margin: 0px 15px 0px 0px;
}

.resourceBox {
	opacity: 1;
	background-size: cover;
	position: relative;
	margin: 0px 16px 10px 0px;
	border-radius: 12px;
	border: 1px solid #AAA;
}

.hide-resourcesBox {
	opacity: 0;
	display: none;
}

.showCheckbox {
	width: 80px;
}

.expandMap {
	width: 95% !important;
}

.mapSettings {
	opacity: 1;
	display: block;
	margin: 0px 0px 0px 16px;
	padding: 0;
	width: 90px;
	float: left;
}

.hide-description {
	width: 0px !important;
}

.mapSelect {
	opacity: 1;
}