body {
	font-family: Helvetica, Arial, sans-serif;
}
.resourceBox h4 {
	margin: 0px 0px 4px 0px;
	height:1%;
}
#googleMap {
	float: right;
}

.expandSettingButton {
	width: 34px !important;
	background-color: #ddd !important;
}

.expandOptions {
	width: 1%;
	opacity: 1;
	background-size: cover;
	position: relative;
	margin: 0px 16px 10px 0px;
	border-radius: 12px;
}

.gMap {
	width: 70% !important;
}

.settingsWidgets {
	width: 25% !important;
}

.propertyButton {
	width: 50%;
	float: right;
	margin: 0px 15px 0px 0px;
}

.resourceBox {
	opacity: 1;
	background-size: cover;
	position: relative;
	margin: 0px 16px 10px 0px;
	padding: 10px 10px 10px 10px;
	border-radius: 12px;
	border: 1px solid #AAA;
}

.hide-resourcesBox {
	opacity: 0;
	display: none;
}

.showCheckbox {
	width: 80px;
}

.expandMap {
	width: 95% !important;
}

.mapSettings {
	opacity: 1;
	display: block;
	margin: 0px 0px 0px 16px;
	padding: 0;
	width: 90px;
	float: left;
}

.hide-description {
	width: 0px !important;
}

.mapSelect {
	opacity: 1;
}
.resourceRadioButton .radioButtonLabel {
	font-size: 8pt;	
	width: 44%;
}
.showCheckbox .showAdvancedOptions {
	font-size: 6pt;
	width: 100%;

}
.resourceBox .resourceImg {
	float: right;
	margin-top: 20px;
}
