body {
	font-family: Helvetica, Arial, sans-serif;
}
h5 {
	margin: 10px 0px 5px 10px !important;
}
#googleMap {
	float: right;
}

.expandSettingButton {
	width: 34px !important;
	background-color: #ddd !important;
}

.expandOptions {
	width: 1%;
	opacity: 1;
	background-size: cover;
	position: relative;
	margin: 0px 16px 10px 0px;
	border-radius: 12px;
}

.gMap {
	width: 70% !important;
	border: 2px solid #AAA;

}

.settingsWidgets {
	width: 25% !important;
}


.propertyButton {
	margin: 0px 15px 0px 0px;
	font-size: 6pt;
}
#propertyBoxLabel {
	font-size: 10pt; 
}

.resourceBox {
	opacity: 1;
	background-size: cover;
	position: relative;
	border-radius: 12px;
	border: 2px solid #AAA;
	padding: 0px 10px 0px 20px;
	margin: 3px 0px 5px 0px;
}

.hide-resourcesBox {
	opacity: 0;
	display: none;
}

.showCheckbox {
	width: 80px;
}

.expandMap {
	width: 95% !important;
}

.mapSettings {
	opacity: 1;
	display: block;
	margin: 0px 15px 0px 0px;
	padding: 0;
}

.hide-description {
	width: 0px !important;
}

.mapSelect {
	opacity: 1;
}
.resourceRadioButton .radioButtonLabel {
	font-size: 8pt;	
	width: 44%;
}
.showCheckbox .showAdvancedOptions {
	font-size: 6pt;
}
.resourceBox .resourceImg {
	float: right;
	margin-top: 20px;
}